<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>discharge</key>
            <dict>
                <key>frame</key>
                <string>{{1813,410},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{36,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>equipment_bg</key>
            <dict>
                <key>frame</key>
                <string>{{911,2},{532,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,726}}</string>
                <key>sourceSize</key>
                <string>{532,726}</string>
            </dict>
            <key>equipment_bg_decorate</key>
            <dict>
                <key>frame</key>
                <string>{{1883,166},{161,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,12}}</string>
                <key>sourceSize</key>
                <string>{161,12}</string>
            </dict>
            <key>equipment_frame_corner_highlight</key>
            <dict>
                <key>frame</key>
                <string>{{1818,474},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>equipment_frame_line_highlight</key>
            <dict>
                <key>frame</key>
                <string>{{1813,463},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>equipment_scroll_bar</key>
            <dict>
                <key>frame</key>
                <string>{{1813,453},{3,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,1}}</string>
                <key>sourceSize</key>
                <string>{3,1}</string>
            </dict>
            <key>equipment_title</key>
            <dict>
                <key>frame</key>
                <string>{{1813,206},{201,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,67}}</string>
                <key>sourceSize</key>
                <string>{201,67}</string>
            </dict>
            <key>info_bg</key>
            <dict>
                <key>frame</key>
                <string>{{1640,2},{532,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,163}}</string>
                <key>sourceSize</key>
                <string>{532,163}</string>
            </dict>
            <key>line</key>
            <dict>
                <key>frame</key>
                <string>{{1806,2},{526,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,4}}</string>
                <key>sourceSize</key>
                <string>{526,4}</string>
            </dict>
            <key>scroll_bar_bg</key>
            <dict>
                <key>frame</key>
                <string>{{1812,531},{3,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,1}}</string>
                <key>sourceSize</key>
                <string>{3,1}</string>
            </dict>
            <key>stash_bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{532,906}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,906}}</string>
                <key>sourceSize</key>
                <string>{532,906}</string>
            </dict>
            <key>stash_bg_decorate</key>
            <dict>
                <key>frame</key>
                <string>{{1883,2},{161,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,12}}</string>
                <key>sourceSize</key>
                <string>{161,12}</string>
            </dict>
            <key>stash_frame_corner_highlight</key>
            <dict>
                <key>frame</key>
                <string>{{1818,453},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>stash_frame_line_highlight</key>
            <dict>
                <key>frame</key>
                <string>{{1813,459},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>stash_scroll_bar</key>
            <dict>
                <key>frame</key>
                <string>{{1806,531},{3,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,1}}</string>
                <key>sourceSize</key>
                <string>{3,1}</string>
            </dict>
            <key>stash_title</key>
            <dict>
                <key>frame</key>
                <string>{{1813,2},{201,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,67}}</string>
                <key>sourceSize</key>
                <string>{201,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tex.png</string>
            <key>size</key>
            <string>{1897,536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae003260c592d79abeb7ba045b6fa78a:5e41c26283ec920d103c0ca5b15ed0e5:32075c2a164b36a67a24ecb74c8dae8a$</string>
            <key>textureFileName</key>
            <string>tex.png</string>
        </dict>
    </dict>
</plist>
