<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>att/bg1_left</key>
            <dict>
                <key>frame</key>
                <string>{{284,1390},{12,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,20}}</string>
                <key>sourceSize</key>
                <string>{12,20}</string>
            </dict>
            <key>att/bg1_right</key>
            <dict>
                <key>frame</key>
                <string>{{87,1390},{194,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,20}}</string>
                <key>sourceSize</key>
                <string>{194,20}</string>
            </dict>
            <key>att/bg2_left</key>
            <dict>
                <key>frame</key>
                <string>{{315,1407},{12,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,75}}</string>
                <key>sourceSize</key>
                <string>{12,75}</string>
            </dict>
            <key>att/bg2_right</key>
            <dict>
                <key>frame</key>
                <string>{{1903,728},{194,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,75}}</string>
                <key>sourceSize</key>
                <string>{194,75}</string>
            </dict>
            <key>att/damage</key>
            <dict>
                <key>frame</key>
                <string>{{31,1390},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>att/dark</key>
            <dict>
                <key>frame</key>
                <string>{{1956,1263},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>att/electricity</key>
            <dict>
                <key>frame</key>
                <string>{{1978,489},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{47,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>att/fire</key>
            <dict>
                <key>frame</key>
                <string>{{1978,433},{47,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{47,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>att/holy</key>
            <dict>
                <key>frame</key>
                <string>{{1769,1370},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>att/ice</key>
            <dict>
                <key>frame</key>
                <string>{{1956,1373},{51,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>att/resistance</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>att/slash</key>
            <dict>
                <key>frame</key>
                <string>{{1956,1207},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>att/strike</key>
            <dict>
                <key>frame</key>
                <string>{{1825,1370},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>att/wind</key>
            <dict>
                <key>frame</key>
                <string>{{1956,1319},{53,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{53,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>bg</key>
            <dict>
                <key>frame</key>
                <string>{{708,887},{960,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>character_bg</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{1052,882}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1052,882}}</string>
                <key>sourceSize</key>
                <string>{1052,882}</string>
            </dict>
            <key>character_icon_bg</key>
            <dict>
                <key>frame</key>
                <string>{{1835,433},{140,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,292}}</string>
                <key>sourceSize</key>
                <string>{140,292}</string>
            </dict>
            <key>cloud1</key>
            <dict>
                <key>frame</key>
                <string>{{1763,140},{240,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,134}}</string>
                <key>sourceSize</key>
                <string>{240,134}</string>
            </dict>
            <key>cloud2</key>
            <dict>
                <key>frame</key>
                <string>{{1763,2},{240,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,135}}</string>
                <key>sourceSize</key>
                <string>{240,135}</string>
            </dict>
            <key>equip/default_boots</key>
            <dict>
                <key>frame</key>
                <string>{{1881,1061},{60,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{60,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>equip/default_chest</key>
            <dict>
                <key>frame</key>
                <string>{{1958,925},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{68,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>equip/default_head</key>
            <dict>
                <key>frame</key>
                <string>{{1881,996},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{62,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>equip/default_item</key>
            <dict>
                <key>frame</key>
                <string>{{1881,925},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{68,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>equip/default_necklace</key>
            <dict>
                <key>frame</key>
                <string>{{1956,1132},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{70,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>equip/default_ring0</key>
            <dict>
                <key>frame</key>
                <string>{{1958,1067},{64,62}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{64,62}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>equip/default_ring1</key>
            <dict>
                <key>frame</key>
                <string>{{1958,1002},{64,62}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{64,62}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>equip/default_skill0</key>
            <dict>
                <key>frame</key>
                <string>{{1881,1349},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>equip/default_skill1</key>
            <dict>
                <key>frame</key>
                <string>{{1881,1274},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>equip/default_skill2</key>
            <dict>
                <key>frame</key>
                <string>{{1881,1199},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>equip/default_skill3</key>
            <dict>
                <key>frame</key>
                <string>{{1881,1124},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>equip/default_weapon</key>
            <dict>
                <key>frame</key>
                <string>{{1978,543},{46,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{46,70}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>equip/exp_bar</key>
            <dict>
                <key>frame</key>
                <string>{{2,1419},{310,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,1}}</string>
                <key>sourceSize</key>
                <string>{310,1}</string>
            </dict>
            <key>equip/exp_bar_bg</key>
            <dict>
                <key>frame</key>
                <string>{{126,1423},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>equip/gold</key>
            <dict>
                <key>frame</key>
                <string>{{60,1390},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>equip/max</key>
            <dict>
                <key>frame</key>
                <string>{{299,1390},{45,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,14}}</string>
                <key>sourceSize</key>
                <string>{45,14}</string>
            </dict>
            <key>logo</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1385,703}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1385,703}}</string>
                <key>sourceSize</key>
                <string>{1385,703}</string>
            </dict>
            <key>name_bg</key>
            <dict>
                <key>frame</key>
                <string>{{1763,433},{439,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,69}}</string>
                <key>sourceSize</key>
                <string>{439,69}</string>
            </dict>
            <key>select_bar</key>
            <dict>
                <key>frame</key>
                <string>{{1763,355},{233,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,75}}</string>
                <key>sourceSize</key>
                <string>{233,75}</string>
            </dict>
            <key>select_bar2</key>
            <dict>
                <key>frame</key>
                <string>{{1769,875},{492,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,95}}</string>
                <key>sourceSize</key>
                <string>{492,95}</string>
            </dict>
            <key>select_bar2_bg</key>
            <dict>
                <key>frame</key>
                <string>{{1671,887},{492,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,95}}</string>
                <key>sourceSize</key>
                <string>{492,95}</string>
            </dict>
            <key>select_bar_bg</key>
            <dict>
                <key>frame</key>
                <string>{{1763,277},{233,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,75}}</string>
                <key>sourceSize</key>
                <string>{233,75}</string>
            </dict>
            <key>select_box_2_1</key>
            <dict>
                <key>frame</key>
                <string>{{1835,728},{65,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,125}}</string>
                <key>sourceSize</key>
                <string>{65,125}</string>
            </dict>
            <key>select_box_2_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,1423},{1,117}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{1,117}}</string>
                <key>sourceSize</key>
                <string>{1,125}</string>
            </dict>
            <key>white</key>
            <dict>
                <key>frame</key>
                <string>{{122,1423},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tex.png</string>
            <key>size</key>
            <string>{2028,1429}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9f5439b2e4c4c7cd7224eaef4e84ea0:1f4745e95a2b546c05aebe31ac76f14f:32075c2a164b36a67a24ecb74c8dae8a$</string>
            <key>textureFileName</key>
            <string>tex.png</string>
        </dict>
    </dict>
</plist>
