<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>number/battle/0</key>
            <dict>
                <key>frame</key>
                <string>{{1285,64},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>number/battle/1</key>
            <dict>
                <key>frame</key>
                <string>{{1265,67},{16,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{16,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>number/battle/2</key>
            <dict>
                <key>frame</key>
                <string>{{1313,39},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>number/battle/3</key>
            <dict>
                <key>frame</key>
                <string>{{1285,39},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>number/battle/4</key>
            <dict>
                <key>frame</key>
                <string>{{1240,95},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>number/battle/5</key>
            <dict>
                <key>frame</key>
                <string>{{1260,39},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>number/battle/6</key>
            <dict>
                <key>frame</key>
                <string>{{1240,67},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>number/battle/7</key>
            <dict>
                <key>frame</key>
                <string>{{1313,64},{20,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>number/battle/8</key>
            <dict>
                <key>frame</key>
                <string>{{1212,102},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>number/battle/9</key>
            <dict>
                <key>frame</key>
                <string>{{1235,39},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>ui/acquire_item_edge</key>
            <dict>
                <key>frame</key>
                <string>{{204,96},{29,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,52}}</string>
                <key>sourceSize</key>
                <string>{29,52}</string>
            </dict>
            <key>ui/acquire_item_middle</key>
            <dict>
                <key>frame</key>
                <string>{{542,76},{1,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{1,50}}</string>
                <key>sourceSize</key>
                <string>{1,52}</string>
            </dict>
            <key>ui/bg_name</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{93,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,12}}</string>
                <key>sourceSize</key>
                <string>{93,12}</string>
            </dict>
            <key>ui/boss_tip_arrow</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{11,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,29}}</string>
                <key>sourceSize</key>
                <string>{11,29}</string>
            </dict>
            <key>ui/boss_tip_bg</key>
            <dict>
                <key>frame</key>
                <string>{{186,118},{3,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,7}}</string>
                <key>sourceSize</key>
                <string>{3,7}</string>
            </dict>
            <key>ui/boss_tip_gold</key>
            <dict>
                <key>frame</key>
                <string>{{382,81},{13,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,40}}</string>
                <key>sourceSize</key>
                <string>{13,40}</string>
            </dict>
            <key>ui/boss_tip_silver</key>
            <dict>
                <key>frame</key>
                <string>{{301,84},{13,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,40}}</string>
                <key>sourceSize</key>
                <string>{13,40}</string>
            </dict>
            <key>ui/char_att_bg1</key>
            <dict>
                <key>frame</key>
                <string>{{398,81},{313,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,39}}</string>
                <key>sourceSize</key>
                <string>{313,39}</string>
            </dict>
            <key>ui/char_att_bg2</key>
            <dict>
                <key>frame</key>
                <string>{{259,84},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>ui/char_att_bg_sample</key>
            <dict>
                <key>frame</key>
                <string>{{1068,39},{164,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,25}}</string>
                <key>sourceSize</key>
                <string>{164,25}</string>
            </dict>
            <key>ui/char_bg1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,104}}</string>
                <key>sourceSize</key>
                <string>{110,104}</string>
            </dict>
            <key>ui/char_bg2</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{92,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,33}}</string>
                <key>sourceSize</key>
                <string>{92,33}</string>
            </dict>
            <key>ui/char_bg3</key>
            <dict>
                <key>frame</key>
                <string>{{109,98},{92,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,13}}</string>
                <key>sourceSize</key>
                <string>{92,13}</string>
            </dict>
            <key>ui/char_bg_sample</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{91,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,65}}</string>
                <key>sourceSize</key>
                <string>{91,65}</string>
            </dict>
            <key>ui/char_hp_mask</key>
            <dict>
                <key>frame</key>
                <string>{{182,114},{1,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,19}}</string>
                <key>sourceSize</key>
                <string>{1,19}</string>
            </dict>
            <key>ui/char_hp_mask_sample</key>
            <dict>
                <key>frame</key>
                <string>{{98,115},{1,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,10}}</string>
                <key>sourceSize</key>
                <string>{1,10}</string>
            </dict>
            <key>ui/char_mp_mask</key>
            <dict>
                <key>frame</key>
                <string>{{182,118},{1,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,8}}</string>
                <key>sourceSize</key>
                <string>{1,8}</string>
            </dict>
            <key>ui/char_mp_mask_sample</key>
            <dict>
                <key>frame</key>
                <string>{{192,118},{1,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,5}}</string>
                <key>sourceSize</key>
                <string>{1,5}</string>
            </dict>
            <key>ui/entity_arrow</key>
            <dict>
                <key>frame</key>
                <string>{{1212,67},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>ui/finish/font1/!</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{31,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,76}}</string>
                <key>sourceSize</key>
                <string>{31,76}</string>
            </dict>
            <key>ui/finish/font1/c</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{70,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,76}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>ui/finish/font1/e</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>ui/finish/font1/s</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{54,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,76}}</string>
                <key>sourceSize</key>
                <string>{54,76}</string>
            </dict>
            <key>ui/finish/font1/u</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{79,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,76}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>ui/finish/font2/-</key>
            <dict>
                <key>frame</key>
                <string>{{196,118},{1,1}}</string>
                <key>offset</key>
                <string>{-14.5,30.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{30,62}</string>
            </dict>
            <key>ui/finish/font2/a</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>ui/finish/font2/d</key>
            <dict>
                <key>frame</key>
                <string>{{607,2},{67,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,62}}</string>
                <key>sourceSize</key>
                <string>{67,62}</string>
            </dict>
            <key>ui/finish/font2/e</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{56,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,62}}</string>
                <key>sourceSize</key>
                <string>{56,62}</string>
            </dict>
            <key>ui/finish/font2/f</key>
            <dict>
                <key>frame</key>
                <string>{{983,2},{47,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,62}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>ui/finish/font2/h</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{71,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,62}}</string>
                <key>sourceSize</key>
                <string>{71,62}</string>
            </dict>
            <key>ui/finish/font2/i</key>
            <dict>
                <key>frame</key>
                <string>{{1033,2},{32,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,62}}</string>
                <key>sourceSize</key>
                <string>{32,62}</string>
            </dict>
            <key>ui/finish/font2/l</key>
            <dict>
                <key>frame</key>
                <string>{{925,2},{55,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,62}}</string>
                <key>sourceSize</key>
                <string>{55,62}</string>
            </dict>
            <key>ui/finish/font2/o</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>ui/finish/font2/s</key>
            <dict>
                <key>frame</key>
                <string>{{317,81},{43,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,62}}</string>
                <key>sourceSize</key>
                <string>{43,62}</string>
            </dict>
            <key>ui/finish/font2/t</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{61,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
            <key>ui/finish/halo</key>
            <dict>
                <key>frame</key>
                <string>{{1068,2},{273,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,34}}</string>
                <key>sourceSize</key>
                <string>{273,34}</string>
            </dict>
            <key>ui/line_black</key>
            <dict>
                <key>frame</key>
                <string>{{382,124},{1,539}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,539}}</string>
                <key>sourceSize</key>
                <string>{1,539}</string>
            </dict>
            <key>ui/menu/select_bar</key>
            <dict>
                <key>frame</key>
                <string>{{963,67},{246,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,47}}</string>
                <key>sourceSize</key>
                <string>{246,47}</string>
            </dict>
            <key>ui/menu/select_bg</key>
            <dict>
                <key>frame</key>
                <string>{{714,70},{246,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,47}}</string>
                <key>sourceSize</key>
                <string>{246,47}</string>
            </dict>
            <key>ui/number/0</key>
            <dict>
                <key>frame</key>
                <string>{{1313,87},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>ui/number/1</key>
            <dict>
                <key>frame</key>
                <string>{{102,115},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,13}}</string>
                <key>sourceSize</key>
                <string>{8,13}</string>
            </dict>
            <key>ui/number/2</key>
            <dict>
                <key>frame</key>
                <string>{{82,115},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>ui/number/3</key>
            <dict>
                <key>frame</key>
                <string>{{166,114},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>ui/number/4</key>
            <dict>
                <key>frame</key>
                <string>{{150,114},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>ui/number/5</key>
            <dict>
                <key>frame</key>
                <string>{{66,115},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>ui/number/6</key>
            <dict>
                <key>frame</key>
                <string>{{50,115},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>ui/number/7</key>
            <dict>
                <key>frame</key>
                <string>{{34,115},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>ui/number/8</key>
            <dict>
                <key>frame</key>
                <string>{{134,114},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>ui/number/9</key>
            <dict>
                <key>frame</key>
                <string>{{118,114},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chapterShared.png</string>
            <key>size</key>
            <string>{1343,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c54a4de8c4d6718e531049b44f0b0e38:09c2f9c4047f2c29b700f74cc6bcd1a8:acd3b8d654f62734f3240261593fe13a$</string>
            <key>textureFileName</key>
            <string>chapterShared.png</string>
        </dict>
    </dict>
</plist>
