<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>number/damage/0</key>
            <dict>
                <key>frame</key>
                <string>{{108,522},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>number/damage/1</key>
            <dict>
                <key>frame</key>
                <string>{{84,802},{11,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,18}</string>
            </dict>
            <key>number/damage/2</key>
            <dict>
                <key>frame</key>
                <string>{{74,501},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>number/damage/3</key>
            <dict>
                <key>frame</key>
                <string>{{91,522},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>number/damage/4</key>
            <dict>
                <key>frame</key>
                <string>{{56,522},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>number/damage/5</key>
            <dict>
                <key>frame</key>
                <string>{{56,501},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>number/damage/6</key>
            <dict>
                <key>frame</key>
                <string>{{104,1334},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>number/damage/7</key>
            <dict>
                <key>frame</key>
                <string>{{104,1316},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>number/damage/8</key>
            <dict>
                <key>frame</key>
                <string>{{104,1298},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>number/damage/9</key>
            <dict>
                <key>frame</key>
                <string>{{104,1280},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>number/recovery/0</key>
            <dict>
                <key>frame</key>
                <string>{{73,543},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>number/recovery/1</key>
            <dict>
                <key>frame</key>
                <string>{{96,929},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>number/recovery/2</key>
            <dict>
                <key>frame</key>
                <string>{{106,543},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>number/recovery/3</key>
            <dict>
                <key>frame</key>
                <string>{{92,501},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>number/recovery/4</key>
            <dict>
                <key>frame</key>
                <string>{{74,522},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>number/recovery/5</key>
            <dict>
                <key>frame</key>
                <string>{{90,543},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>number/recovery/6</key>
            <dict>
                <key>frame</key>
                <string>{{45,1336},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>number/recovery/7</key>
            <dict>
                <key>frame</key>
                <string>{{85,264},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>number/recovery/8</key>
            <dict>
                <key>frame</key>
                <string>{{109,501},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>number/recovery/9</key>
            <dict>
                <key>frame</key>
                <string>{{56,543},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>ui/acquire_item_edge</key>
            <dict>
                <key>frame</key>
                <string>{{70,1206},{29,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,52}}</string>
                <key>sourceSize</key>
                <string>{29,52}</string>
            </dict>
            <key>ui/acquire_item_middle</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{1,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{1,50}}</string>
                <key>sourceSize</key>
                <string>{1,52}</string>
            </dict>
            <key>ui/bg_name</key>
            <dict>
                <key>frame</key>
                <string>{{109,818},{93,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,12}}</string>
                <key>sourceSize</key>
                <string>{93,12}</string>
            </dict>
            <key>ui/boss_tip_arrow</key>
            <dict>
                <key>frame</key>
                <string>{{52,802},{11,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,29}}</string>
                <key>sourceSize</key>
                <string>{11,29}</string>
            </dict>
            <key>ui/boss_tip_bg</key>
            <dict>
                <key>frame</key>
                <string>{{98,1345},{3,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,7}}</string>
                <key>sourceSize</key>
                <string>{3,7}</string>
            </dict>
            <key>ui/boss_tip_gold</key>
            <dict>
                <key>frame</key>
                <string>{{2,1336},{13,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,40}}</string>
                <key>sourceSize</key>
                <string>{13,40}</string>
            </dict>
            <key>ui/boss_tip_silver</key>
            <dict>
                <key>frame</key>
                <string>{{109,914},{13,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,40}}</string>
                <key>sourceSize</key>
                <string>{13,40}</string>
            </dict>
            <key>ui/char_att_bg1</key>
            <dict>
                <key>frame</key>
                <string>{{6,2},{313,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,39}}</string>
                <key>sourceSize</key>
                <string>{313,39}</string>
            </dict>
            <key>ui/char_att_bg2</key>
            <dict>
                <key>frame</key>
                <string>{{70,1238},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>ui/char_att_bg_sample</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{164,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,25}}</string>
                <key>sourceSize</key>
                <string>{164,25}</string>
            </dict>
            <key>ui/char_bg1</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{110,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,104}}</string>
                <key>sourceSize</key>
                <string>{110,104}</string>
            </dict>
            <key>ui/char_bg2</key>
            <dict>
                <key>frame</key>
                <string>{{85,169},{92,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,33}}</string>
                <key>sourceSize</key>
                <string>{92,33}</string>
            </dict>
            <key>ui/char_bg3</key>
            <dict>
                <key>frame</key>
                <string>{{109,723},{92,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,13}}</string>
                <key>sourceSize</key>
                <string>{92,13}</string>
            </dict>
            <key>ui/char_bg_sample</key>
            <dict>
                <key>frame</key>
                <string>{{2,929},{91,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,65}}</string>
                <key>sourceSize</key>
                <string>{91,65}</string>
            </dict>
            <key>ui/char_hp_mask</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{1,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,19}}</string>
                <key>sourceSize</key>
                <string>{1,19}</string>
            </dict>
            <key>ui/char_hp_mask_sample</key>
            <dict>
                <key>frame</key>
                <string>{{105,802},{1,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,10}}</string>
                <key>sourceSize</key>
                <string>{1,10}</string>
            </dict>
            <key>ui/char_mp_mask</key>
            <dict>
                <key>frame</key>
                <string>{{83,295},{1,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,8}}</string>
                <key>sourceSize</key>
                <string>{1,8}</string>
            </dict>
            <key>ui/char_mp_mask_sample</key>
            <dict>
                <key>frame</key>
                <string>{{48,306},{1,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,5}}</string>
                <key>sourceSize</key>
                <string>{1,5}</string>
            </dict>
            <key>ui/entity_arrow</key>
            <dict>
                <key>frame</key>
                <string>{{48,278},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>ui/finish/font1/!</key>
            <dict>
                <key>frame</key>
                <string>{{84,997},{31,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,76}}</string>
                <key>sourceSize</key>
                <string>{31,76}</string>
            </dict>
            <key>ui/finish/font1/c</key>
            <dict>
                <key>frame</key>
                <string>{{52,567},{70,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,76}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>ui/finish/font1/e</key>
            <dict>
                <key>frame</key>
                <string>{{52,646},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>ui/finish/font1/s</key>
            <dict>
                <key>frame</key>
                <string>{{52,723},{54,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,76}}</string>
                <key>sourceSize</key>
                <string>{54,76}</string>
            </dict>
            <key>ui/finish/font1/u</key>
            <dict>
                <key>frame</key>
                <string>{{2,997},{79,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,76}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>ui/finish/font2/-</key>
            <dict>
                <key>frame</key>
                <string>{{113,55},{1,1}}</string>
                <key>offset</key>
                <string>{-14.5,30.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{30,62}</string>
            </dict>
            <key>ui/finish/font2/a</key>
            <dict>
                <key>frame</key>
                <string>{{2,1271},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>ui/finish/font2/d</key>
            <dict>
                <key>frame</key>
                <string>{{2,1141},{67,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,62}}</string>
                <key>sourceSize</key>
                <string>{67,62}</string>
            </dict>
            <key>ui/finish/font2/e</key>
            <dict>
                <key>frame</key>
                <string>{{56,306},{56,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,62}}</string>
                <key>sourceSize</key>
                <string>{56,62}</string>
            </dict>
            <key>ui/finish/font2/f</key>
            <dict>
                <key>frame</key>
                <string>{{72,1141},{47,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,62}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>ui/finish/font2/h</key>
            <dict>
                <key>frame</key>
                <string>{{2,1076},{71,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,62}}</string>
                <key>sourceSize</key>
                <string>{71,62}</string>
            </dict>
            <key>ui/finish/font2/i</key>
            <dict>
                <key>frame</key>
                <string>{{69,1280},{32,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,62}}</string>
                <key>sourceSize</key>
                <string>{32,62}</string>
            </dict>
            <key>ui/finish/font2/l</key>
            <dict>
                <key>frame</key>
                <string>{{56,436},{55,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,62}}</string>
                <key>sourceSize</key>
                <string>{55,62}</string>
            </dict>
            <key>ui/finish/font2/o</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>ui/finish/font2/s</key>
            <dict>
                <key>frame</key>
                <string>{{76,1076},{43,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,62}}</string>
                <key>sourceSize</key>
                <string>{43,62}</string>
            </dict>
            <key>ui/finish/font2/t</key>
            <dict>
                <key>frame</key>
                <string>{{56,371},{61,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
            <key>ui/finish/halo</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{273,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,34}}</string>
                <key>sourceSize</key>
                <string>{273,34}</string>
            </dict>
            <key>ui/line_black</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,539}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,539}}</string>
                <key>sourceSize</key>
                <string>{1,539}</string>
            </dict>
            <key>ui/menu/select_bar</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{246,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,47}}</string>
                <key>sourceSize</key>
                <string>{246,47}</string>
            </dict>
            <key>ui/menu/select_bg</key>
            <dict>
                <key>frame</key>
                <string>{{6,318},{246,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,47}}</string>
                <key>sourceSize</key>
                <string>{246,47}</string>
            </dict>
            <key>ui/number/0</key>
            <dict>
                <key>frame</key>
                <string>{{106,264},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>ui/number/1</key>
            <dict>
                <key>frame</key>
                <string>{{2,1352},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,13}}</string>
                <key>sourceSize</key>
                <string>{8,13}</string>
            </dict>
            <key>ui/number/2</key>
            <dict>
                <key>frame</key>
                <string>{{111,973},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>ui/number/3</key>
            <dict>
                <key>frame</key>
                <string>{{96,973},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>ui/number/4</key>
            <dict>
                <key>frame</key>
                <string>{{96,957},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>ui/number/5</key>
            <dict>
                <key>frame</key>
                <string>{{111,957},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>ui/number/6</key>
            <dict>
                <key>frame</key>
                <string>{{82,1345},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>ui/number/7</key>
            <dict>
                <key>frame</key>
                <string>{{66,1345},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>ui/number/8</key>
            <dict>
                <key>frame</key>
                <string>{{98,280},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>ui/number/9</key>
            <dict>
                <key>frame</key>
                <string>{{83,279},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chapterShared.png</string>
            <key>size</key>
            <string>{124,1362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0124a5a1e54ae3cdce488b03d251a85c:adda8efced0ac10080ade289a8d1b9fc:acd3b8d654f62734f3240261593fe13a$</string>
            <key>textureFileName</key>
            <string>chapterShared.png</string>
        </dict>
    </dict>
</plist>
