<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/switcher/black</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>ui/switcher/down</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{500,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,262}}</string>
                <key>sourceSize</key>
                <string>{500,262}</string>
            </dict>
            <key>ui/switcher/up</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,265}}</string>
                <key>sourceSize</key>
                <string>{500,265}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tex.png</string>
            <key>size</key>
            <string>{508,534}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2db9c3103b534c6afaecba5b70475c6:93e58347fdac7e5d4814f20eb6756749:32075c2a164b36a67a24ecb74c8dae8a$</string>
            <key>textureFileName</key>
            <string>tex.png</string>
        </dict>
    </dict>
</plist>
