<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>2.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{80,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,37}}</string>
                <key>sourceSize</key>
                <string>{80,37}</string>
            </dict>
            <key>3.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{80,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,37}}</string>
                <key>sourceSize</key>
                <string>{80,37}</string>
            </dict>
            <key>yy.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tex.png</string>
            <key>size</key>
            <string>{84,207}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05c880ce8a0b713308fc2305db43d2fe:4a46cbe4600c2f5979ff8f621c2b49a8:32075c2a164b36a67a24ecb74c8dae8a$</string>
            <key>textureFileName</key>
            <string>tex.png</string>
        </dict>
    </dict>
</plist>
