<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banner</key>
            <dict>
                <key>frame</key>
                <string>{{845,2},{259,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,218}}</string>
                <key>sourceSize</key>
                <string>{259,218}</string>
            </dict>
            <key>buy_sell_quantity_arrow</key>
            <dict>
                <key>frame</key>
                <string>{{948,764},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,10}}</string>
                <key>sourceSize</key>
                <string>{12,10}</string>
            </dict>
            <key>buy_sell_quantity_bg1</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{864,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{864,1}}</string>
                <key>sourceSize</key>
                <string>{864,1}</string>
            </dict>
            <key>buy_sell_quantity_bg2</key>
            <dict>
                <key>frame</key>
                <string>{{845,264},{432,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,159}}</string>
                <key>sourceSize</key>
                <string>{432,159}</string>
            </dict>
            <key>buy_sell_quantity_count_bg</key>
            <dict>
                <key>frame</key>
                <string>{{905,699},{119,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,40}}</string>
                <key>sourceSize</key>
                <string>{119,40}</string>
            </dict>
            <key>buy_sell_quantity_line</key>
            <dict>
                <key>frame</key>
                <string>{{835,2},{864,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{864,3}}</string>
                <key>sourceSize</key>
                <string>{864,3}</string>
            </dict>
            <key>buy_sell_quantity_price_bg</key>
            <dict>
                <key>frame</key>
                <string>{{1007,264},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,56}</string>
            </dict>
            <key>equip_type_focus</key>
            <dict>
                <key>frame</key>
                <string>{{948,699},{62,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>gold</key>
            <dict>
                <key>frame</key>
                <string>{{905,821},{45,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,39}}</string>
                <key>sourceSize</key>
                <string>{45,39}</string>
            </dict>
            <key>gold_bg1</key>
            <dict>
                <key>frame</key>
                <string>{{1048,417},{149,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,2}}</string>
                <key>sourceSize</key>
                <string>{149,2}</string>
            </dict>
            <key>gold_bg2</key>
            <dict>
                <key>frame</key>
                <string>{{1053,417},{149,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,1}}</string>
                <key>sourceSize</key>
                <string>{149,1}</string>
            </dict>
            <key>gold_bg3</key>
            <dict>
                <key>frame</key>
                <string>{{845,699},{206,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,57}}</string>
                <key>sourceSize</key>
                <string>{206,57}</string>
            </dict>
            <key>item_line</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{799,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{799,4}}</string>
                <key>sourceSize</key>
                <string>{799,4}</string>
            </dict>
            <key>left_bg1</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{16,963}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,963}}</string>
                <key>sourceSize</key>
                <string>{16,963}</string>
            </dict>
            <key>left_bg2</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{1,963}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,963}}</string>
                <key>sourceSize</key>
                <string>{1,963}</string>
            </dict>
            <key>right_bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{807,963}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{807,963}}</string>
                <key>sourceSize</key>
                <string>{807,963}</string>
            </dict>
            <key>scroll_bar</key>
            <dict>
                <key>frame</key>
                <string>{{835,869},{3,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,1}}</string>
                <key>sourceSize</key>
                <string>{3,1}</string>
            </dict>
            <key>scroll_bar_bg</key>
            <dict>
                <key>frame</key>
                <string>{{804,968},{3,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,1}}</string>
                <key>sourceSize</key>
                <string>{3,1}</string>
            </dict>
            <key>select_mode_line</key>
            <dict>
                <key>frame</key>
                <string>{{1007,417},{303,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,28}}</string>
                <key>sourceSize</key>
                <string>{303,28}</string>
            </dict>
            <key>title_bg1</key>
            <dict>
                <key>frame</key>
                <string>{{1038,417},{216,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,3}}</string>
                <key>sourceSize</key>
                <string>{216,3}</string>
            </dict>
            <key>title_bg2</key>
            <dict>
                <key>frame</key>
                <string>{{1044,417},{216,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,1}}</string>
                <key>sourceSize</key>
                <string>{216,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tex.png</string>
            <key>size</key>
            <string>{1065,974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15c281b41a11d76f6ad653121bc82615:193db43a04e21f9cff9273feea3a599a:32075c2a164b36a67a24ecb74c8dae8a$</string>
            <key>textureFileName</key>
            <string>tex.png</string>
        </dict>
    </dict>
</plist>
